:root
{
    --bg-main: #0e0e0e;
    --text-color: white;
    --elgant-line: rgba(255,255,255, 0.5);
    --smooth-transition: transform 0.6, cubic-bezier(0.16, 1, 0.3, 1);
}
*, *::before, *::after{
    box-sizing: border-box;
}

@font-face {
    font-family: "adifont";
    font-weight: bold;
    src: url(schrift/adineuepro-boldweb.woff) format("woff");
}
@font-face {
    font-family: "adifont";
    font-weight: normal;
    src: url(schrift/adineuepro-regularweb.woff) format("woff");
}

body
{
    background-color: var(--bg-main);
    color: var(--text-color);
    font-family: "adifont", sans-serif;
}

.githubIcon 
{
    width: 36px;
    height: 36px;
}

#cs50 /*später!*/
{
    width: 700px;
    height: 350px;
    transform: var(--smooth-transition);
}

.cards-container{
    display: flex;
    flex-flow: row nowrap; 
}

.card{
    display: flex; 
    flex-flow: column nowrap;
    height: "300px";
}

.media{
    width:"100%";
    aspect-ratio:"2/1";
    object-fit: "cover";
}
