*, *::before, *::after{
    box-sizing: border-box;
}

body
{
    background-color: var(--bg-main);
    color: var(--text-color);
    font-family: "adifont", sans-serif;
}

.githubIcon 
{
    width: 36px;
    height: 36px;
}

#cs50 /*später!*/
{
    width: 700px;
    height: 350px;
    transform: var(--smooth-transition);
}

.cards-container{
    display: flex;
    flex-flow: row nowrap; 
    align-items: flex-end;

}

.card{
    display: flex; 
    flex-flow: column nowrap;
    overflow-x: hidden;
    
    /*flex-basis: "300px";   Test */
}

.card .media {
    width: 735px;
    aspect-ratio: 2/1;
}

.card .media img{
    width: 735px;
    height: 366px;
    object-fit: cover;
}

/*

wenn das fester sich kleiner als ..px ist dann wird ein zeilenumruch gemacht.

@media screen and (max-width: 100px) {
    .cards-container{  
      flex-flow: column wrap; 
    }
  }


.card .active{
    display: flex;
    flex-flow: column nowrap;
    height: "300px"; 
}
*/
